/*Inicializacion*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.row {
  padding: 0px;
  margin: 0px;
}

/*Fin Inicializacion*/
/*Cuerpo*/
body {
  background-image: url(../img/bg3.png);
  background-position: center;
}

/*Fin Cuerpo*/
/*Footer*/
footer {
  background-color: rgba(138, 23, 161, 0.945);
  background-image: linear-gradient(to right, rgba(151, 39, 132, 0.768627451) rgba(112, 18, 104, 0.623) b2, rgba(114, 24, 106, 0.5960784314));
  padding: 20px;
  border-top: solid;
  border-color: rgba(106, 49, 160, 0.829);
  border-top-width: 5px;
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 10px;
}

.redes {
  width: 65px;
  height: 65px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}

/*Fin footer*/
/*Navbar*/
.header {
  background-color: rgba(148, 0, 211, 0.966);
  padding: 0;
  border-style: inset;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-color: darkred;
}
.header img {
  width: 150px;
  height: auto;
}
.header a, .header a:visited {
  color: rgb(115, 182, 245);
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 500ms;
}
.header a:hover, .header a:active {
  border-radius: 10px;
  color: antiquewhite;
  transform: scale(1.1);
}

.navbar-expand-lg {
  padding: 0;
}

/*Fin Navbar*/
/*Inicio Index*/
.info {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.info__caja {
  background-color: rgba(137, 43, 226, 0.966);
  background-image: linear-gradient(to bottom right, rgba(191, 64, 202, 0.925), rgba(131, 15, 167, 0.959));
  padding: 10px;
  border-radius: 25px;
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0.63);
}
.info__titulo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2em;
  margin-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.info__subtitulo {
  color: rgba(255, 228, 196, 0.788);
  margin-bottom: 5px;
  font-size: 2em;
}
.info__art img {
  width: 35%;
  transform: scale(0.9);
  margin: 10px;
  border-style: dotted;
  border-color: rgba(0, 0, 255, 0.822);
}
.info__art {
  color: rgba(248, 248, 248, 0.767);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  text-align: justify;
}

/*Fin Index*/
/*Inicio Info*/
.info__fondo {
  background-color: rgba(137, 43, 226, 0.966);
  background-image: linear-gradient(to bottom right, rgba(191, 64, 202, 0.925), rgba(131, 15, 167, 0.959));
  margin-top: 5px;
  margin-bottom: 5px;
}
.info__fondo-cabeza {
  background-image: rgba(148, 0, 211, 0.966);
  background-color: rgba(41, 5, 75, 0.582);
  color: white;
}

.info__peresc {
  font-size: 1.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: beige;
}
.info__peresc img {
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.info__peresc-per {
  font-size: 1.1em;
  color: rgb(192, 192, 192);
  border-style: dashed;
  background-color: rgba(150, 31, 104, 0.747);
  text-align: justify;
}
.info__peresc-per h2, .info__peresc-per h3 {
  text-align: center;
  color: white;
  font-size: 1em;
}
.info__peresc-per img {
  border-style: none;
  animation-delay: 400ms;
}

/*Fin Info*/
/*Inicio Reco*/
#links-header img {
  width: 85%;
  height: auto;
  border-style: solid;
  border-color: antiquewhite;
}

.info__caja-links img {
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dashed;
  border-color: aquamarine;
}
.info__caja-links h1 {
  font-size: 2em;
  color: aliceblue;
  text-align: center;
  margin-bottom: 15px;
}
.info__caja-links h2 {
  font-size: 1.5em;
  color: floralwhite;
  text-align: center;
  margin-bottom: 10px;
}
.info__caja-links {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: blanchedalmond;
}
.info__caja-links a:hover, .info__caja-links a:active {
  transition-duration: 500ms;
  border-radius: 10px;
  color: rgba(255, 241, 51, 0.918);
}

/*Fin Reco*/
/*Multimedia*/
.info__caja-vid {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.info__caja-vid video {
  width: 95%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  outline-style: groove;
  outline-color: rgba(54, 0, 56, 0.911);
}
.info__caja-vid h1 {
  font-size: 2em;
  text-align: center;
}
.info__caja-vid h2 {
  font-size: 1.7em;
}
.info__caja-vid h3 {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 5px;
}

/*Fin Multimedia*/
/*Inicio Reglas*/
.info__reglas {
  color: ghostwhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  text-align: justify;
}
.info__reglas img {
  width: 70%;
  height: auto;
  border: solid;
  margin-top: 10px;
  border-color: azure;
}
.info__reglas-fichas {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: justify;
}
.info__reglas-fichas img {
  width: 45%;
  height: auto;
  border: solid;
  border-color: rgba(22, 7, 43, 0.815);
}

#akapai img {
  width: 15%;
  height: auto;
  border: solid;
  border-color: rgba(144, 76, 233, 0.815);
}

#akapai2 img {
  width: 20%;
  height: auto;
  border: solid;
  border-color: rgba(144, 76, 233, 0.815);
}

/*Fin Reglas*/

/*# sourceMappingURL=styles.css.map */
