$color-header:rgba(148, 0, 211, 0.966);
$color-footer:linear-gradient(to right, #972784c4 rgba(112, 18, 104, 0.623)b2, #72186a98);
$color-caja: linear-gradient(to bottom right, rgba(191, 64, 202, 0.925), rgba(131, 15, 167, 0.959));
$fuente-ppal:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-ttlo: Arial, Helvetica, sans-serif;