/*Inicio Info*/

.info__peresc{
    font-size: 1.2em;
    font-family: $fuente-ppal;
    text-align: center;
    color: beige;

& img{
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

&-per{
    font-size: 1.1em;
    color: rgb(192, 192, 192);
    border-style: dashed;
    background-color: rgba(150, 31, 104, 0.747);
    text-align: justify;


& h2, h3{
    text-align: center;
    color: white;
    font-size: 1em;
}

& img{
    border-style: none;

}
}
}

/*Fin Info*/