/*Multimedia*/

.info__caja-vid{
    color: white;
    font-family: $fuente-ppal;

& video{
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    outline-style: groove;
    outline-color: rgba(54, 0, 56, 0.911);
}

& h1{
    font-size: 2em;
    text-align: center;
}

& h2{
    font-size: 1.7em;
}

& h3{
    font-size: 1.2em;
    text-align: justify;
    margin-top: 5px;

}
}


/*Fin Multimedia*/