/*Navbar*/
.header{
    background-color: $color-header;
    padding:0;
    border-style: inset;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: darkred;

& img{
    width: 150px;
    height: auto;
}

& a, a:visited{
    color: rgb(115, 182, 245);
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 500ms;
}

& a:hover, a:active{
    border-radius: 10px;
    color: antiquewhite;
    transform: scale(1.1);
}
}
.navbar-expand-lg{
    padding: 0;
}
/*Fin Navbar*/